body {
    background: #FAFAFA;
}

label {
    font-size: 18px;
}

h1 {
    margin-bottom: 20px;
}

h4 {
    line-height: 24px;
}

h5 {
    font-size: 16px;
}

a {
    color: #777;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.error {
    color: #dc3545;
    font-size: 12px;
    display: block;
}

.form-control[disabled] {
    background-color: white;
}

.block {
    margin-bottom: 30px;
}

.short-input {
    width: 40%;
}

/* Content form style */

.tab-content {
    background: white;
    padding: 40px;
    border: 1px solid #E0E4E7;
}

.mandatory-sign {
    position: relative;
    margin-right: 20px;
}

.mandatory-sign::before {
    content: "*";
    color: red;
    font-size: 26px;
    position: absolute;
    left: 0;
    top: -5px;
}

/* Navigation style */

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border: 0;
}

.wizard .wizard-inner {
    position: relative;
    margin-bottom: 40px;
}

.connecting-line {
    height: 1px;
    background: black;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 68%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #FAE7BA;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}

span.round-tab i {
    color: #555555;
}

span.p-title {
    position: absolute;
    bottom: -25px;
    color: black;
    font-size: 12px;
}

.wizard li.active span.round-tab {
    background: #FDBE2C;
}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

.wizard .nav-tabs>li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs>li a {
    width: 36px;
    height: 36px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

/* Customize checkbox */

.checkbox {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block--checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}

.checkbox label {
    padding-left: 5px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 35px;
    width: 35px;
    border: 1px solid #14499D;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 12px;
    top: 5px;
    width: 10px;
    height: 18px;
    border: solid #14499D;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Input style */

input.form-control,
textarea.form-control {
    margin: 10px 0;
    border-radius: 0;
    border: 1px solid #14499D;
    padding: 25px 10px;
    font-size: 18px;
}

.block--disease h4,
.block--disease input.form-control {
    margin-bottom: 20px;
}

.disabled {
    color: grey;
}

.disabled input {
    border-color: grey;
}

.disabled textarea {
    border-color: grey;
}

.block--contact-details {
    padding-left: 0;
    font-size: 16px;
}

.row-contact-details .col-sm-4,
.row-contact-details .col-sm-8 {
    padding-left: 0;
}

.block--contact-details input {
    border: 0;
    padding: 20px 10px 20px 0;
    width: 100%;
}

.row-contact-details {
    border-bottom: 2px solid #8AA5D0;
}

.span--contact-detail {
    display: block;
    padding: 20px 0;
    color: #6c757d;
}

/* Date input */

.block--date input {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.input-date-day,
.input-date-month {
    width: 20%;
}

.input-date-year {
    width: 30%;
}

.input-group.date {
    display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.input-group.date .input-group-addon {
    padding: 0;
    border: 0;
}

/* Next step button style */

.next-step,
.prev-step {
    padding: 15px 100px;
    border: 1px solid #FDBE2C;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}

.short-input {
    width: 40%;
}

@media( max-width: 768px) {
    .tab-content {
        padding: 20px;
    }
    .wizard {
        width: 100%;
        height: auto !important;
    }
    .wizard-inner {
        width: 95%;
    }
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .connecting-line {
        display: none;
    }
    span.p-title {
        bottom: -40px;
    }
    .short-input {
        width: 100%;
    }
    .next-step,
    .prev-step {
        margin-bottom: 20px;
    }
    .block--date input {
        margin-right: 5px;
    }
}

@media( max-width: 350px) {
    .next-step,
    .prev-step {
        padding: 15px 80px;
    }
}